In [1]:
print ("1")
print ("2")
print ("3")
print ("4")
print ("5")
print ("6")
print ("7")
print ("8")
print ("9")
print ("10")

1
2
3
4
5
6
7
8
9
10

In [4]:
for c in range(1,11):    
     print(c)
for c in range(1,51):    
     print(c)

1
2
3
4
5
6
7
8
9
10
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

In [7]:
lista=["ovos","banana","leite","farinha","açúcar","fermento","manteiga"]
for item in lista: 
    print(item)

ovos
banana
leite
farinha
açúcar
fermento
manteiga

In [15]:
for num in range (1,11):
    if num%2==0: 
        print (num)
for num in range(1,11):    
    if num%2!=0:
        print (num)

2
4
6
8
10
1
3
5
7
9

In [17]:
for num in range (1,101,5):
        print (num)

1
6
11
16
21
26
31
36
41
46
51
56
61
66
71
76
81
86
91
96

In [18]:
for letra in "rodrigo bernard veiga":
    print(letra)

r
o
d
r
i
g
o

b
e
r
n
a
r
d

v
e
i
g
a

In [19]:
cont=1
while cont<11:
    print(cont)
    cont=cont+1

1
2
3
4
5
6
7
8
9
10

In [27]:
lista=[]
pessoas=0
while pessoas<5:
  nome=input("digite um nome")
  lista.append(nome)
  pessoas=pessoas+1
print(lista)

digite um nome joão
digite um nome maria
digite um nome ana
digite um nome pedro
digite um nome valentina

['joão', 'maria', 'ana', 'pedro', 'valentina']

In [31]:
soma=0
numeros=range(1,1000)
i=0
while soma<100:
    soma+=numeros[i]
    i+=1
print(soma)
print(i)

105
14

In [66]:
from random import randint
i=jogo=0
megasena=[]
while jogo<10:
    while i<6:
        megasena.append(randint(1,60))
        i+=1
    print(megasena)
    i=0
    megasena=[]
    jogo+=1

[42, 25, 27, 9, 3, 40]
[58, 6, 9, 60, 28, 18]
[46, 46, 59, 31, 4, 59]
[29, 13, 33, 40, 22, 14]
[27, 48, 13, 8, 57, 11]
[23, 17, 14, 20, 26, 54]
[44, 48, 14, 26, 60, 5]
[57, 50, 20, 45, 22, 13]
[57, 60, 28, 6, 1, 24]
[14, 20, 20, 51, 59, 54]

In [85]:
lista=[]
while True:
    print ("""
    [1] continuar 
    [2] sair
    """)
    opcao=input("qual a sua opcao?")
    if opcao=="1":
        time=input("digite um time:")
        lista.append(time)
    if opcao=="2":
        print("obrigado")
        break
print(lista)

    [1] continuar
    [2] sair

qual a sua opcao? 1
digite um time: real madrid

    [1] continuar
    [2] sair

qual a sua opcao? 2

obrigado
['real madrid']

In [89]:
n=int(input())
fibo1=0
fibo2=1
if n==1:
    print("{}".format(fibo1),end=" ")
if n==2:
    print("{} {}".format(fibo1,fibo2),end=" ")
if n>=3:
    print("{} {}".format(fibo1,fibo2),end=" ")
    for cont in range (3,n+1):
        fibo3=fibo1+fibo2
        fibo1=fibo2
        fibo2=fibo3
        if cont == n:
            print("{}".format(fibo3))
        else:
            print("{}".format(fibo3),end=" ")

 10

0 1 1 2 3 5 8 13 21 34